#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_configure:
	DIR=$PWD
	cd /tmp
	git clone https://github.com/zynthbox/WiringPi
	cd WiringPi
	./build
	cd DIR
	ZYNTHIAN_WIRING_LAYOUT="Z2_V2" dh_auto_configure 
